/* General Body Styles */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color:#eee2de; 
    color: #2b2a4c;
    
}

/* Header Styles */
.header {
    background-color: #eee2de; 
    color:#2b2a4c;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}


.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.collectible-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collectible-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collectible-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.collectible-item h3 {
    color: #4579ae;
    margin: 15px 0;
}

.collectible-item p {
    color: #666;
}

.buy-button {
    background-color: #4579ae;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #365e8c;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #ff6600; /* Highlighted price */
    margin: 5px 0;
}

.welcome-header {
    background: url('../collectibles/images/collectible_background.jpg');
    color: white;
    text-align: center;
    padding: 80px 20px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.welcome-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.welcome-header p {
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    body {
        margin-left: 5%; /* Less left margin for small screens */
    }

    .catalog-container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
    }

    .nav a {
        padding: 12px;
    }
}
