/* footer */

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #2b2a4c7a;
    padding: 15px;
    border-top: 1px dotted #292847;
}

#contact-us {
    color: #2B2A4C;
    font-weight: 600;
    margin-left: 20px;
    font-family: "Orbitron", serif;
}

.contacts {
    color: #2B2A4C;
}

.contacts ul {
    list-style-type: none;
    font-size: 15px;
    line-height: 25px;
    margin-right: 20px;
}
