body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    background-color:#eee2de; 
    color: #2b2a4c;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #e2d4cf;
}

.nav a {
    color: #eee2de;
    padding: 12px 20px;
    text-decoration: none;
    text-align: center;
}


.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.product {
    background-color: #4a4975;
    border-radius: 50px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    width: 550px;
    height: 530px;
    cursor: pointer;

}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #ea906c;
    background-color: #f0f0f0;
}

.product img {
    width: 100%; 
    height: auto;
    max-height: 80%;
    object-fit: cover; 
    border-radius: 30px;
}

.product h3 {
    margin: 15px;
    color: #ea906c;
}

.product p {
    color: #ea906c;
}

.contact-section {
    background-color: #a85959;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}

.product-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}


.product-button {
    background-color:  #4a4975;
    border-radius: 15px;
    width: 250px;
    height: 250px;  
    text-align: center;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none; 
    color:#eee2de;
    padding: 20px;
    display: inline-block; 
}

.product-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #ea906c;
    background-color: #f0f0f0;
}

.product-button img {
    width: 100%;
    height: auto;
    max-height: 210px; 
    object-fit: cover;
    border-radius: 10px;
}

.product-button h3 {
    margin-top: 10px;
    color: #ea906c;
}
.console-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    scale: 105%;
}

.console-button {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.console-button img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.console-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 0;

}

.console-button:hover .console-info {
    opacity: 1;
}
.toggle-button {
    display: block;
    background-color: #45a049;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 70%;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #45a04995;
}

.specs-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.specs-popup-content {
    background-color: #413f6e; 
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
    color: #ffffff;
}

.specs-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.specs-popup-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.specs-popup-body {
    font-size: 16px;
    color: #ffffff;
}


.specs-popup-image {
    max-width: 120px;
    margin-right: 20px;
}


.features-section {
    background-color: #eee2de;
    padding: 40px 20px;
    text-align: center;
}

.features-section h2 {
    margin-bottom: 70px;
    font-size: xxx-large;
    color: #b31312;
}

.features-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 270px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    color: #ea906c;
    font-size: x-large;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
    font-size: 14px;
}
.features {
    background-color: #eee2de;
    padding: 50px 20px;
    text-align: center;
    margin-top: 40px;
}

.features h2 {
    margin-bottom: 40px;
    font-size:xxx-large;
    color:#b31312;
}

.console-specs-box {
    padding: 30px;
    border-radius: 15px;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.console-specs-box:hover {
    transform: translateY(-5px);
}

.console-specs-box h3 {
    font-size:x-large;
    color: #ffffff;
    margin-bottom: 15px;
}



