/*
Colours: 
#2B2A4C (Purple)
#B31312 (Red)
#EEE2DE (White)

<weight>: Use a value from 400 to 900
<uniquifier>: Use a unique and descriptive class name

.golos-text-<uniquifier> {
  font-family: "Golos Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Golos Text", serif;
}

body {
    background-color: #EEE2DE;
}

/* nav bar */
.navbar {
    background:  #2b2a4c7a;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* border */
    border-style: double;
    border-radius: 8px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    list-style-type: none;
}

.nav li {
    float: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12px;
    /*border*/
    border-color: #2B2A4C;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.nav a {
    color: #2B2A4C;
}

#selected a {
    color: #2B2A4C;
}

#selected li {
    background-color: #EEE2DE;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo a {
    color: #2B2A4C;
    font-size: 30px;
    font-weight: 600;
}

#logo img {
    display: inline;
    height: 35px;
    margin-left: 20px;
    margin-right: 14px;
}

.nav li:hover {
    border-color: #B31312;
    background-color: #2B2A4C;
    transition: 0.20s;
}

.nav li:hover a {
    color: #EEE2DE;
    transition: 0.20s;
}

#hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*text*/
    color: #EEE2DE;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    font-size: 50px;
}

.hero-section {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.hero-section img {
    box-shadow: 0px 5px 5px#2b2a4cc0;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(70%);
    /* size */
    width: 800px;
}

/* Categories */

#container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}

.box {
    background-color: #2b2a4c7a;
    /* position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    /* style */
    border-color: #2B2A4C;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}

.box img {
    height: 73%;
    width: fit-content;
    margin-top: 10px;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 3px 5px #2B2A4C;
}

.box span {
    margin-top: 14px;
    color: #2B2A4C;
    font-size: 22px;
    font-weight: 500;
}

.box:hover {
    border-color: #B31312;
    background-color: #2B2A4C;
    transition: 0.20s;
}

.box:hover span {
    color: #EEE2DE;
    transition: 0.20s;
}








