/* General Body Styles */
body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
    color: #333;
    
}

/* Header Styles */
.header {
    background-color: #c9def5;
    color: #61b190;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Navigation Bar Styles */
.nav {
    display: flex;
    justify-content: center;
    background-color: #dbe9f8;
}

.nav a {
    color: #0e4f90;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav a:hover {
    background-color: #f8f9fa;
}

.nav a.active {
    background-color: #a1c6f1;
}

/* Catalog Container Styles */
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.collectible-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collectible-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collectible-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.collectible-item h3 {
    color: #4579ae;
    margin: 15px 0;
}

.collectible-item p {
    color: #666;
}

.buy-button {
    background-color: #4579ae;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #365e8c;
}

/* Footer Styles */
footer {
    background-color: #c9def5;
    color: #61b190;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 15px;
}

.footer-links a {
    color: #0e4f90;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        margin-left: 5%; /* Less left margin for small screens */
    }

    .catalog-container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
    }

    .nav a {
        padding: 12px;
    }
}
